:root {
    --dark-blue: Darkblue;
    --white: white;
    --border-color: rgb(0 0 0 / 0.2);
    --padding-small: 10px;
    --padding-large: 20px;
    --img-border-color: black;
    --img-shadow: gray;
}

nav {
    background-color: var(--dark-blue);
    padding: var(--padding-small);
}

nav a {
    color: var(--white);
    display: block;
    padding: var(--padding-large);
}

main {
    max-width: 840px;
}

h1 {
    color: var(--dark-blue);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--img-border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--img-shadow);
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    padding: var(--padding-small);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 5px grey;
}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}