* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --dark-blue: Darkblue;
    --white: white;
    --border-color: rgb(0 0 0 / 0.2);
    --padding-small: 10px;
    --padding-large: 20px;
    --img-border-color: black;
    --img-shadow: gray;
}

nav {
    background-color: var(--dark-blue);
    padding: var(--padding-small);
}

nav a {
    color: var(--white);
    display: block;
    padding: var(--padding-large);
}

main {
    max-width: 840px;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

h1 {
    color: var(--dark-blue);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--img-border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--img-shadow);
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 150px;
}

main img {
    width: 150px;
    height: auto;
    padding: var(--padding-small);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 5px grey;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0px;
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}